/*INICIO PROPIEDADES COMPARTIDAS*/
:root{
    --primario: #ccc;
    --tittle: #fecb00;
    --montserrat: "montserrat";
}
body{
    box-sizing: border-box;
    background-image: url("./img/4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 20em;
    
}
header{ 
    height: 35px;
}

nav{
    display: flex;
    width: 650px;
    height: 35px;
    align-items: center;
    justify-content: space-around;
}
.label{
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: montserrat;
    text-decoration: none;
    padding: 4px;
}
.contenedor-li{
    width: 650px;
    display: flex;
    height: 35px;
    justify-content: space-around;
    align-items: center;
}
li{
    text-decoration: none;
    list-style: none;
}
ul :hover  {
    background-color: var(--tittle);
    border-radius: 5%;
    color: rgb(5, 5, 5);

}
/*FIN PROPIEDADES COMPARTIDAS*/




/*INICIO PROPIEDADES DEL  ABOUT*/
p{
}
/*FIN PROPIEDADES DEL  ABOUT*/



/*INICIO PROPIEDADES DEL INDEX*/

/*FIN PROPIEDADES DEL INDEX*/



/*INICIO PROPIEDADES DE CV O HV*/
main{
display: flex;
justify-content: center;
}
.container{
    display: flex; 
    width: 980px;
    height: 1150px;
    background-color: rgb(77, 72, 72);
    box-shadow: 5px -3px 5px white;
    margin-top: 35px;
}
.main1 {
    background: linear-gradient(50deg, blue, rgb(235, 209, 66));
  }

  .foto-perfil{
   display: grid;
   grid-template-columns: 1fr;
  }

  .foto-perfil img{
    width: 98%;
    margin: 2px auto;
    border-radius: 2%;

  }


.main2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 155px;
    background-color: var(--tittle);
    width: 100%;
    padding: 0px;
    margin-top: .5px;
    
}
.contenedor-title > *{

    margin-left: 40px;
    font-family: var(--montserrat);
    margin-block-start: 0;
    margin-block-end: 0 ;
}

.perfillaboral{
    margin-top: 0;;
    background-color: aquamarine;
    font-family: 'Poppins';
}

.perfillaboral > * {
    margin-left: 40px;
    margin-right: 40px;
}
div hr{
    width: 80%;
    margin-left: 0;
}
.descripcionPerfil{
    text-align: justify;
    text-decoration: none;
} 

.container-exper{
    display: flex;
}

.estudiosandexper > *{
    margin-left: 40px;
    margin-right: 40px;
}
.years{
    width: 40%;
}

.descriptionexperiencia{
    width: 60%;
}


.desc-tareas{
    text-align: justify;
}

.habilidades{
    background-color: darkslateblue;
}
.habilidades > *{
    margin-left: 40px;
    margin-right: 40px;
}

.skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: 1fr 1fr;*/
}


/*FIN PROPIEDADES DE CV O HV*/

/*INICIO PROPIEDADES DE CONTACTO*/
footer{
    height: 150px;
    background-color: #1a1a1a;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0;
    padding: 52px;
    opacity: 0.8;
    
}
footer p {
    background-color: darkslateblue;
    padding-left: 50px;
}

.container-contacto{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
/*FIN PROPIEDADES DE CONTANTO*/
