/*INICIO PROPIEDADES COMPARTIDAS*/
:root{
    --primario: #ccc;
}
body{
    box-sizing: border-box;
    background-image: url("./img/4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 20em;
    
}
header{ 
    height: 35px;
}

nav{
    display: flex;
    width: 650px;
    height: 35px;
    align-items: center;
    justify-content: space-around;
}
.label{
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: montserrat;
    text-decoration: none;
    padding: 4px;
}
.contenedor-li{
    width: 650px;
    display: flex;
    height: 35px;
    justify-content: space-around;
    align-items: center;
}
li{
    text-decoration: none;
    list-style: none;
}
ul :hover  {
    background-color: teal;
    color: rgb(241, 239, 239);

}
/*FIN PROPIEDADES COMPARTIDAS*/




/*INICIO PROPIEDADES DEL  ABOUT*/
p{
    background-color: var(--primario)
}
/*FIN PROPIEDADES DEL  ABOUT*/



/*INICIO PROPIEDADES DEL INDEX*/

/*FIN PROPIEDADES DEL INDEX*/



/*INICIO PROPIEDADES DE CV O HV*/

/*FIN PROPIEDADES DE CV O HV*/

/*INICIO PROPIEDADES DE CONTACTO*/
footer{
    height: 150px;
    background-color: #1a1a1a;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0;
    padding: 52px;
    opacity: 0.8;
    
}
footer p {
    background-color: darkslateblue;
    padding-left: 50px;
}

.container-contacto{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
/*FIN PROPIEDADES DE CONTANTO*/
